* {
    box-sizing: border-box;
}

.conatiner {
   
}

img {
    max-width: 150px;
}

.btn-secondary {
    margin: 10px 5px 10px 5px;
}

.card {
    margin-top: 20px;
}

#add-tag {
    padding-bottom: 53px;
}